form {
  margin-top: 100px;
}

.form-group label {
  display: flex;
}

.form-group {
  width: 400px;
}

.form-group button {
  display: flex;
}

.head {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(29, 29, 29);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
